go 1.25.0

use (
	./cmd
	./core
	./formbuilder
	./identity/auth
	./identity/tenant
	./identity/user
	./masters/pipeline
	./masters
	./migrations
	./monitoring
	./notification
	./packages
	./projects
	./vendors
	./databridge
	./searchservice
	./documentviewer
	./approvalworkflow
	./dataarchive
	./backupdr
)
