go 1.25.0

use (
	./cmd
	./core
	./formbuilder
	./identity/auth
	./identity/tenant
	./identity/user
	./masters/pipeline
	./migrations
	./monitoring
	./notification
	./packages
	./projects
	./vendors
)
